<<<<<<< HEAD
=======
aside{
    width: 20%;
    background-color: lightgray;
    border: 1px solid #000000;
    text-align: center;
    margin: 12px;
    padding: 12px;
}
>>>>>>> 7885d450f2cf3447c78bf086d37947865cf6682d
