aside{
    width: 20%;
    background-color: lightgray;
    border: 1px solid #000000;
    text-align: center;
    margin: 12px;
    padding: 12px;
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
}