nav{
    text-align: center;
    border: 1px solid #1217ad;
    font-family: arial rgb(211, 31, 31);
    border: 0px;
    
}

a{
    text-decoration: none;
    font-size: 34px;
    padding: 0px 12px;
    margin: 12px;
    color:black;
    border-left-color:red;
    
}

.logo{
    padding: 28px 0;
}

.logo a{
    font-size: 80px;
    font-weight: bold;
}

.links{
    text-transform: uppercase;
    padding: 12px;
}
