#lista1 {
    font-family:Arial;
    font-weight:bold;
    font-size:13px;
}
.separador {
    color:gray;
}
#lista1 li {
     display: table;
     padding-left:3px;
     padding-right:3px;
    background-color:black;
}
a {
    color:white;
    text-decoration:none;
}
a:hover {
    color:black;
    background-color:lightgray;
}
